.sidebar-container {
	min-width: 300px;
    display: flex;
    flex: 1;
    flex-direction: column;
	background-color: #F5F5F5;
	padding: 12px;
	min-height: 100vh;
}

.top {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.bottom {
    display: flex;
    flex-direction: column;
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

.sidebar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #E0E0E0;
	box-shadow: 0 0 5px #616161;
	color: #424242;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px #616161;
    cursor: pointer;
	transition: background 0.7s;
	margin-bottom: 30px;

	&:last-of-type {
		margin-bottom: 0;
	}
	
	span {
		color: #F44336;
		user-select: none;
	}
	
	&.selected {
		color: #4CAF50;
	}

	&:hover {
		background: #E0E0E0 radial-gradient(circle, transparent 1%, #E0E0E0 1%) center/15000%;
	}

	&:active {
		background-color: #F5F5F5;
		background-size: 100%;
		transition: background 0s;
	}

}
